@import url('https://fonts.googleapis.com/css?family=Muli|Raleway|Titillium+Web');

.page {
    width: 100vw;
    height: 100vh;
}

.header__container {
    width: 100vw;
    height: 30%;
    background-color: #232323;
}

.logo__container {
    min-width: 100%;
}

.header__logo {
    width: 40%;
    margin: 2rem 30%;
}

.header__heading {
    font-family: 'Titillium Web', sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #DCD268;
}

.contact__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header__contact {
    color: #DCD268;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
}

.showcase__container {
    width: 100%;
    height: 90%;
    background-color: aquamarine;
}

.showcase__accordian {
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: forestgreen;
}

.showcase__section:hover {
    background-color: cadetblue;
    filter: blur(0);
    flex: 6;
    filter: contrast(120%);
}

.showcase__section {
    flex: 1;
    align-items: stretch;
    background-color: blanchedalmond;
    transition: all 450ms ease-out;
    cursor: pointer;
    border: 2px solid grey;
    background: url("https://placeimg.com/960/720/arch");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase__section--closed {
    filter: blur(3px);
    filter: grayscale(30%)
}

.testsection {
    width: 100vw;
    height: 900px;
    background-color: red;
}
